.example-spacer {
    flex: 1 1 auto;
  }

  mat-form-field{
    margin-top: 30px;
    max-width: 5rem;
    max-height:4rem;
    
  }
  p{
    margin: 0px;
    a{
      list-style-type: none;
      color: white;
      text-decoration: none;
    }
  }
 .right-toolbar{
  display: flex;
  justify-content: space-between;
  button{
    align-self: center;
  }
 }
 